@import "normalize.css";
// @import "@fontsource/montez";

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --primary: #d23f57;
  --primary-hover: #e3364e;
  --header-color: #2b3445;
  --header-color2: #4b566b;
  --description-color: #7d879c;
  --header-height: 80px;
  --default-layout-width: 1280px;
  --width-imgCard: 270px;
  --width-button: 28px;
  --black-color: #333;
  --white-color: #fff;
  --background: #f6f9fc;
  --box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
  --box-shadow1: 0px 4px 16px rgb(43 52 69 / 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // box-sizing: inherit;
}
html {
  //   font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
  //   Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// button,
// input,
// [tabindex] {
//   outline: none;
//   border: none;
// }

// a[href] {
//   text-decoration: none;
// }
