.wrapper {
  height: 4rem;
  width: 100%;
  background-color: rgb(239, 236, 232);
  display: flex;
  justify-content: center;
}

.container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
