.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form{
  // height: 400px;
  background-color: #d9d9d9;
  // width: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 90px 60px;
}

.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input{
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  outline: none;
}

.input-form{
  background: linear-gradient(
    90deg,
    rgb(41, 40, 40),
    rgb(82, 82, 82),
    rgb(170, 169, 170)
  );
  padding: 10px 20px;

  width: 100%;
  margin: auto;
  margin-top: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px #0000001f;
  border-radius: 6px;
}

