.content0 {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content1 {
  width: 1050px;
  text-align: center;
  margin-bottom: 20px;
}

.content0 .content1 h2 {
  text-align: center;
  font-size: 20px;
}

.tittle {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 600;
}

.chung {
  background-color: rgb(219, 218, 216);
  margin-bottom: 10px;
  border: 1px solid rgb(126, 125, 125);
  font-size: 20px;
  width: 200px;
  padding: 8px 10px;
  font-weight: 600;
}

// .filter {
//   width: 300px;
// }
.loc {
  margin-top: 54px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.loc {
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
}

.rating {
  margin: 6px 0;
  padding: 0px 3px;
  color: rgb(240, 197, 8);
  width: fit-content;
  background-color: rgb(196, 231, 233);
}

.chitiet {
  display: flex;
  border: 1px solid rgb(126, 125, 125);

  background: rgb(165, 114, 114);
  padding: 2px 6px;
  cursor: pointer;
  font-weight: 700;
}
.content2 {
  width: 1000px;
  margin-top: 10px;
}
.giaovien {
  display: flex;
  border: 1px solid rgb(126, 125, 125);

  padding: 10px 0;
  width: 100%;
  background: rgb(219, 218, 216);
}

.cot1 {
  flex: 1;
  background: rgb(219, 218, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  margin-right: 12px;
}

.cot2 {
  flex: 7;
  background: rgb(219, 218, 216);
  display: flex;
  flex-direction: column;
}

.cot3 {
  flex: 2;
  background: rgb(219, 218, 216);
  display: flex;
  justify-content: center;
  align-items: center;
}
