.style_left {
  padding-left: 2px;
}
.style_right {
  padding-right: 2px;
}
.feedback {
  width: 90%;
  height: 600px;
  background-color: rgba(181, 182, 183, 0.94);
  margin: 40px auto;
  text-align: center;
}

.feedback_detail {
  width: 85%;
  height: 25%;
  margin: 20px auto;
  background-color: rgba(212, 211, 211, 0.94);
  text-align: center;
  /* display: inline-block; */
  display: inline-flex;
  /* overflow: hidden; */
  border: 1px solid rgb(119, 119, 119);
}

.fb_avatar {
  width: 13%;
  height: 85%;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 35px;
  background-color: bisque;
  border-radius: 50% 50%;
  /* overflow: hidden; */
  justify-content: center;
}

.fb_detail {
  width: 85%;
  height: 80%;
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
  background-color: rgba(212, 211, 211, 0.94);
  overflow: hidden;
}
.fb_detail .fb_name {
  margin-left: 2%;
  font-weight: bold;
  font-size: large;
  background-color: rgba(212, 211, 211, 0.94);
}
.fb_detail p {
  background-color: rgba(212, 211, 211, 0.94);
  margin-left: 12px;
}
.fb_detail .fb_voting {
  background-color: rgb(196, 231, 233);
  margin-left: 2%;
}
.fb_detail i {
  color: rgb(240, 197, 8);
  background-color: rgb(196, 231, 233);
}
